body {
    background-image:url(/img/login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#boton-login-enviar {
    margin-top: 3%;
    margin-left: 40%;
}

#boton-registro-enviar {
    margin-top: 3%;
    margin-left: 18%;
}
#boton-proveedor-enviar {
    margin-top: 3%;
    margin-left: 18%;
}

#login {
    margin-top: 15%;
    width: 40%;
}

#login label {
    font-size: 30px;
    color: rgb(85, 2, 2);
    font-weight: bold;
}

#login a {
    color: rgb(85, 2, 2);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

#login a:hover{
    color: black;

}

#logo {
    width: 5%;
    margin-left: 10%;
}

#nav-menu {
    margin-right: 20%;
}

#nav-menu a:hover {
    font-weight: bold;
}

#registro {
    margin-top: 10%;
    margin-left: 30%;
    width: 70%;
}

#registro label {
    color: rgb(85, 2, 2);
    font-size:20px;
    font-weight: bold;
}
#inventario {
    margin-top: 10%;
    margin-left: 30%;
    width: 70%;
}

#inventario label {
    color: rgb(85, 2, 2);
    font-size:20px;
    font-weight: bold;
}
#texto-logo {
    margin-left: 0.5%;
}

@media (max-width: 576px) { 
    body {
        background-image:url(/img/login-movil.jpg);
    }

    #boton-registro-enviar {
        margin-top: 3%;
        margin-left: 28%;
    }

    #login {
        margin-top: 50%;
        width: 100%;
    }

    #registro {
        margin-top: 35%;
        margin-left: 10%;
        width: 80%;
    }
 }